{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>
    <p>Created at : {{ listing.created_at }}</p>

    {% if winner %}
        <div>You Won!</div>
    {% endif %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <img src="{{ listing.image }}" alt="image">
    <p>{{ listing.desc }}</p>
    <h3>Starting Bid : {{ listing.startingbid }}</h3>
    {% if currentbid.bid__max %} 
        <h3>Current Highest Bid : {{ currentbid.bid__max }}</h3>
    {% else %}
        <h3>No bid.</h3>
    {% endif %}
    <p>{{ listing.categories }}</p>
    
    {% if user.is_authenticated %}
        {% if auction.closed %}
            Auction Closed!
        {% else %}
            {% if not check %}
                <form action="{% url 'addwatchlist' listing.pk %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Add to Watchlist">
                </form>
            {% else %}
            <form action="{% url 'removewatchlist' listing.pk %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
            </form>
            {% endif %}
        {% endif %}
    {% else %}
        Log in to add to watchlist.
    {% endif %}

    {% if user.is_authenticated %}
        {% if auction.closed %}
            Auction Closed!
        {% else %}
            <form action="{% url 'placebid' listing.pk %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </form>
        {% endif %}
    {% else %}
        Log in to add to placebid.
    {% endif %}
    
    {% if user.is_authenticated %}
        {% if close %}
            {% if auction.closed %}
                {% else %}
                    <form action="{% url 'close' listing.pk %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="close">
                    </form>
            {% endif %}
        {% endif %}
    {% endif %}

    <h4>Comments</h4>
    {% if comments %}
        {% for comment in comments %}
            <div>
                <h5>{{ comment.user_id }}</h5>
                <p>Commented at : {{ comment.created_at }}</p>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Be the first to comment!</p>
    {% endif %}


    {% if user.is_authenticated %}
            {% if auction.closed %}
                {% else %}
                    <form action="{% url 'addcomment' listing.pk %}" method="post">
                        {% csrf_token %}
                        {{ commentform }}
                        <input class="btn btn-primary" type="submit" value="Add Comment">
                    </form>
            {% endif %}
        {% else %}
            <p>Log In to Add Comment.</p>
    {% endif %}


{% endblock %}

{% if auction.closed %}
{% else %}
{% endif %}