{% extends "auctions/layout.html" %}

{% block title %}
    My Watchlist
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-4">My Watchlist</h2>
        {% for listing in mylisting %}
        <div class="row">
            <div class="col-sm-4 border rounded-left bg-light p-4">
                <img src="{{ listing.auctionlist_id.image }}" class="img-thumbnail" alt="image">
            </div>
            <div class="col-sm-8 border rounded-right bg-light py-4 px-5">
                <h2><a href="{% url 'listingpage' listing.auctionlist_id.pk %}">{{ listing.auctionlist_id.title }}</a></h2>
                <p class="text-muted">Created at : {{ listing.auctionlist_id.created_at }}</p>
                <ul>
                    <li>{{ listing.auctionlist_id.desc }}</li>
                </ul>
                <p class="lead">Category : {{ listing.auctionlist_id.categories }}</p>
                <h6>Starting Bid : ${{ listing.auctionlist_id.startingbid }}</h6>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}